/* ===== LAYOUT GENERAL ===== */
:root{
    --base-primary: #0077B6;
}
.layout {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  background: #f8fafc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e5e7eb;
}

/* Título de menú */
.menu-title {
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 10px;
}

/* Lista */
.menu {
  list-style: none;
  padding: 0;
}

/* Items */
.menu li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Hover */
.menu li:hover {
  background: #e5e7eb;
}

/* Activo */
.menu .active {
  background: #dbeafe;
  color: #2563eb;
}

/* ===== CUENTA ===== */
.account {
  margin-top: 20px;
  display: flex;
  flex-direction:column ;
}

.logout {
  margin-top: 10px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

/* ===== MAIN ===== */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== TOPBAR ===== */
.topbar {
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Logo */
.logo {
  font-weight: bold;
  font-size: 18px;
  color: var(--base-primary) !important;
}

/* Acciones */
.topbar-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Icono placeholder */
.icon {
  width: 20px;
  height: 20px;
  background: #d1d5db00;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
}

.icon:hover {
  color: var(--base-primary);
}
/* Usuario */
.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Avatar */
.avatar {
  width: 30px;
  height: 30px;
  background: #60a5fa;
  border-radius: 50%;
}

/* ===== CONTENIDO ===== */
.content {
  flex: 1;
  background: #f4f6fb;
  padding: 20px;
}